.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.colormap{
  display: flex;
  flex-direction: column;
  background: transparent;
}

.color-block{
  display: inline-block;
  width: 100vw;
  /* Make color blocks curved like a circle */
  /* border-radius: 50%; */
  background: transparent;
  transition: all 0.5s ease;
}

.inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px
}

input, button {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
 